@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-text-color: #ffffff;
    --second-text-color: #26b4fc;
    --bg-main: #080e1e;
}
/* header section  */
header {
    height: 90px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0 100px;
    background: transparent;
    z-index: 100;
}

header a {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-text-color);

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-size: 1rem;
    margin-left: 25px;
    transition: .5s ease;
}

nav ul li a:hover,
nav .active {
    color: #26b4fc;
}
/* header end  */
/* home section  */
.home {
    position: relative;
    padding: 0 100px;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}
.home .left-text-section h1 {
    color: var(--main-text-color);
    font-size: 3.5rem;
}

.home .left-text-section h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--second-text-color);
}

.home .left-text-section p {
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 400;
}

.left-text-section-hire-btn {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.left-text-section-hire-btn a {
    height: 45px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.7s ease;
}

.left-text-section-hire-btn a:nth-child(1) {
    border: 3px solid var(--second-text-color);
    background-color: var(--second-text-color);
    color: var(--bg-main);
}

.left-text-section-hire-btn a:nth-child(1):hover {
    background-color: var(--bg-main);
    color: var(--main-text-color);
}

.left-text-section-hire-btn a:nth-child(2) {
    border: 3px solid var(--second-text-color);
    color: var(--main-text-color);
}

.left-text-section-hire-btn a:nth-child(2):hover {
    background-color: var(--second-text-color);
    color: var(--bg-main);
}

.social-icons {
    position: absolute;
    left: 69.5%;
    display: flex;
    gap: 20px;
    top: 80%;

}

.social-icons a i {
    font-size: 1.2rem;
    border: 2px solid var(--second-text-color);
    border-radius: 50%;
    padding: 5px;
    transition: .5s ease;
}

.social-icons a i:hover {
    transform: scale(1.2);
}

.left-image-section {
    height: 350px;
    position: relative;
    width: 350px;
    border: 4px solid var(--second-text-color);
    margin-left: 200px;
    border-radius: 50%;

}

.left-image-section img {
    height: 100%;
    filter: opacity(1);
}

.spin {
    position: absolute;
    height: 380px;
    width: 380px;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    border-left: 5px solid var(--second-text-color);
    border-right: 5px solid var(--second-text-color);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
/* home end  */