
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#ea3838;
    --seond-color:rgb(21, 195, 111);

}

body{
    height: 100vh;
    width: 100vw;
    background-color:var(--seond-color);
}